@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'Gill-Sans';
  src: url('./components/assets/fonts/Gill-Sans/gillsans.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gill-Sans';
  src: url('./components/assets/fonts/Gill-Sans/gillsansbold.otf');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Gill-Sans', 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
